.navbar {
    z-index: 200 !important;
    border-radius: 0 !important;
    border-color: #F8F8F8;
}

.navbar-nav {
    padding-right: 120px;
    z-index: 200;
}

.navbar-brand {
    padding-left: 50px;
    font-size: 32px;
    color: #D87571 !important;
}


.active * {
    color: white !important;
    background-color: #D87571 !important;
}

.dropdown-menu {
    font-size: 20px !important;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #FFF;
    border-bottom-color: rgb(255, 255, 255);
    display: none;
}

.dropdown a {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
